* {
    --green: rgb(8, 253, 216);
    --foreground-color: white;
    --primary-text-color: rgb(231, 231, 231);
    --secondary-text-color: #e2dfdf;
    --mobile-space: 1.25rem;
    --small-wrapper-max-width: 45rem;
    --standard-wrapper-max-width: 75rem;
}

.f-main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.f-standard-container.has-newsletter {
    padding-bottom: 4.6875rem !important;
}

.f-standard-container {
    position: relative;
    padding-top: 3.125rem !important;
    padding-bottom: 6.25rem !important;
}

.f-standard-wrapper.in-post {
    z-index: auto;
}

.f-standard-wrapper {
    position: relative;
    padding: 0 var(--mobile-space);
    width: 100%;
    max-width: var(--standard-wrapper-max-width);
    margin: 0 auto;
    z-index: 2;
}

.f-article {
    margin-bottom: 4.6875rem !important;
}

.f-article-header {
    position: relative;
    margin-bottom: 3.125rem !important;
}

.f-article-header__title {
    color: var(--foreground-color);
    line-height: 1.3;
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0 0 1.5625rem !important;
}

.f-article-header__excerpt.in-post {
    margin-bottom: 1.5625rem !important;
}

.f-article-header__excerpt {
    color: var(--secondary-text-color);
    line-height: 1.7;
    font-size: 1rem;
    max-width: 33.75rem;
}

.f-article-header__time {
    display: flex;
    align-items: center;
    color: var(--green);
    line-height: 1.4;
    font-size: .875rem;
    margin-bottom: 2.1875rem !important;
}

.f-article-header__author {
    display: flex;
    align-items: center;
    color: var(--foreground-color);
}

.f-avatar.in-article-header {
    width: 2.5rem;
    height: 2.5rem;
}

.f-avatar {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.f-article-content {
    margin: 0 0 !important;
}

.f-article-content {
    display: block;
    color: var(--primary-text-color);
    position: relative;
}

.f-article-content p {
    line-height: 2;
    font-size: 1rem;
    margin-bottom: 1.5625rem !important;
}

.f-article-content h2 {
    font-size: 1.2962rem !important;
    color: var(--foreground-color);
}

.f-article-content h4 {
    font-size: 1.1875rem !important;
    color: var(--foreground-color);
}

.f-article-content h4 {
    font-size: 1.0625rem !important;
    color: var(--foreground-color);
}

.f-article-content figure {
    width: 100%;
    padding: 1.25rem 0 2.5rem;
    margin: 0;
}

.f-article-content.kg-image-card .kg-image,
.f-article-content.kg-image-card img,
.f-article-content figure .kg-image,
.f-article-content figure img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0.625rem;
}

.f-article-content.kg-image-card figcaption,
.f-article-content figure figcaption {
    margin-top: 20px;
}

.f-article-content.kg-image-card figcaption,
.f-article-content figure figcaption {
    text-align: center;
    line-height: 1.4;
    font-size: .75rem;
    font-family: 'Gilroy Light';
}

.lightense-target {
    /* cursor: zoom-in; */
    transition: transform 300ms cubic-bezier(.2, 0, .1, 1);
    pointer-events: auto;
}


@media only screen and (min-width: 48rem) {
    .f-article-content h2 {
        line-height: 1.2 !important;
        font-size: 2.4413rem !important;
        padding-top: 0.625rem !important;
        margin-bottom: 1.5625rem !important;
    }

    .f-article-content p {
        font-size: 1.0625rem !important;
        margin-bottom: 2.1875rem !important;
    }

    .f-article-content {
        max-width: var(--small-wrapper-max-width);
        margin: 0 auto;
    }

    .f-article-header__time {
        margin-bottom: 3.125rem !important;
    }

    .f-article-header__excerpt {
        font-size: 1.125rem;
        max-width: 40rem;
    }

    .f-article-header__title {
        line-height: 1.2;
        font-size: 3.75rem;
        margin-bottom: 2.1875rem !important;
    }

    .f-article-header {
        max-width: 53.75rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 4.6875rem !important;
    }

    .f-article {
        max-width: 53.75rem !important;
        margin: 0 auto 6.25rem !important;
    }

    .f-standard-container.has-newsletter {
        padding-bottom: 6.25rem !important;
    }
    
    .f-standard-container {
        padding-top: 6.25rem !important;
        padding-bottom: 9.375rem !important;
    }

    .f-standard-wrapper {
        padding-left: 3.75rem !important;
        padding-right: 3.75rem !important;
    }

    .f-article-content.kg-image-card,
    .f-article-content figure {
        padding: 1.25rem 0 3.125rem;
    }

    .f-article-content.kg-image-card .kg-image,
    .f-article-content.kg-image-card img,
    .f-article-content figure .kg-image,
    .f-article-content figure img {
        margin-bottom: 0.9375rem;
    }
}

@media only screen and (min-width: 80rem) {
    .f-standard-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}