.bg-dark {
    --bg-opacity: 1;
    background-color: rgb(29 29 29/var(--bg-opacity));
}

.overflow-x-hidden {
    overflow-x: hidden;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.tight-height {
    line-height: 1;
}

.font-manrope {
    font-family: 'Gilroy Regular';
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.font-bold {
    font-weight: 700 !important;
}

.font-2x {
    font-size: 3.5rem;
}

.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 4em;
    grid-auto-flow: row dense;
    grid-template-areas:
        "biography portfolio"
        "biography portfolio"
        "biography portfolio";
}

.biography {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
        "information"
        "contact";
    grid-area: biography;
    height: 100vh;
    position: fixed;
}

.information {
    grid-area: information;
}

.contact {
    grid-area: contact;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 3em 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
        "resume"
        "projects"
        "blogs";
    grid-area: portfolio;
    position: absolute;
    right: 0;
}

.resume {
    align-self: stretch;
    grid-area: resume;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em 0px;
    grid-auto-flow: row dense;
    justify-content: start;
    align-content: space-evenly;
    align-items: start;
    grid-template-areas:
        "."
        "."
        ".";
    grid-area: projects;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em 0px;
    grid-auto-flow: row dense;
    justify-content: start;
    align-content: space-evenly;
    align-items: start;
    grid-template-areas:
        "."
        "."
        ".";
    grid-area: blogs;
}

/*======================== FONT ===============================*/
@font-face {
    font-family: "Gilroy Regular";
    src: url("../fonts/gilroy-regular.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("../fonts/gilroy_medium.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/gilroy-bold.otf") format("opentype");
}

@font-face {
    font-family: "Manrope Bold";
    src: url("../fonts/Manrope-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Manrope Extra Bold";
    src: url("../fonts/Manrope-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Manrope Extra Light";
    src: url("../fonts/Manrope-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: "Manrope Light";
    src: url("../fonts/Manrope-Light.otf") format("opentype");
}

@font-face {
    font-family: "Manrope Medium";
    src: url("../fonts/Manrope-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Manrope Regular";
    src: url("../fonts/Manrope-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Manrope Semi Bold";
    src: url("../fonts/Manrope-SemiBold.otf") format("opentype");
}