/*================== PARENT PROPERTIES ================ */

* {
    --padding-88: 88px;
    --padding-32: 32px;
    --profile-padding: 30px;
    --pfp-size-sm: 100px;
    --pfp-size-md: 150px;
    --pfp-size-lg: 225px;
    --green: rgb(8, 253, 216);
    --dark-green: rgb(0, 164, 151);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

body {
    margin: 0;
    line-height: inherit;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}

p {
    margin-bottom: 0 !important;
}

.bg-obsidian {
    --bg-opacity: 1;
    background-color: rgb(29 29 29);
}

.bg-angel {
    --bg-opacity: 1;
    background-color: rgb(255, 255, 255);
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.font-base {
    font-size: 16px;
}

.text-obsidian {
    color: rgb(220 220 220);
}

.text-highlight {
    color: var(--dark-green) !important;
    font-family: 'Google Bold'
}

.text-cyan {
    color: var(--green) !important;
}
/* 
.underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline !important;
} */
.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1.4px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link-underline::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link-underline:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.p-24 {
    padding: 24px;
}

/*================== PICTURE ================ */

.rounded-full {
    --border-opacity: 1;
    border-radius: 9999px;
}

/*================== SPACING ================ */

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.tight-height {
    line-height: 1;
}

.loose-height {
    line-height: 2;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: var(--padding-32);
}

.mr-8 {
    margin-right: 8px;
}

.mr-32 {
    margin-right: var(--padding-32);
}

.mx-m-8 {
    margin-left: -8px;
    margin-right: -8px;
}

.fill-current {
    fill: currentColor;
}

/*================== FONT SIZE ================ */

.font-regular {
    font-family: 'Google Regular';
}

.font-black {
    font-family: 'Google Black' !important
}

.font-bold {
    font-family: 'Google Bold' !important
}

.font-med {
    font-family: 'Google Medium' !important
}

.font-light {
    font-family: 'Google Light' !important
}

.font-thin {
    font-family: 'Google Thin' !important
}

.text-space {
    letter-spacing: -0.25px;
}

/*================== MAIN STRUCTURE ================ */
.static {
    position: static;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.max-w-1440 {
    max-width: 1440px;
}

.flex-col {
    flex-direction: column !important;
}

@media (min-width: 380px) {
    .exp-item {
        padding: 0;
        padding-top: 0;
    }
}


@media (min-width: 640px) {
    .exp-item {
        padding: var(--padding-32);
        padding-top: 0;
    }
}

.exp-item:first-child {
    padding-top: var(--padding-32)
}

.exp-item h4 {
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.exp-item h3 {
    font-size: 1.2rem;
}

.exp-item p {
    color: #c4c4c4;
    font-size: 13px;
}

.exp-item ul li {
    font-size: 14px;
    padding-left: 25px;
    margin-bottom: 8px;
}

@media (min-width: 380px) {
    .exp-item ul li::before {
        content: "▹";
        position: absolute;
        left: 25px;
        color: var(--green);
    }
}


@media (min-width: 640px) {
    .exp-item ul li::before {
        content: "▹";
        position: absolute;
        left: 55px;
        color: var(--green);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
}

.article-item {
    padding: calc(var(--padding-32) + 10px);
    width: 100%;
    height: 200px;
    background-color: rgb(42, 42, 42);
    /* transition: opacity .2s ease-in-out; */
    transition: all .2s ease-out;
}

.article-item h4 {
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.article-item h3 {
    font-size: 1.5rem;
}

.article-item p {
    color: #c4c4c4;
    font-size: 13px;
}

.article-item:hover, .blog-item:hover {
    cursor: pointer;
}

#article-list:hover .article-item {
    opacity: 0.5;
}

#article-list .article-item:hover {
    opacity: 1;
    box-shadow: inset 0 0 0 1px var(--green);
}

#blog-list:hover .blog-item {
    opacity: 0.5;
}

#blog-list .blog-item:hover {
    opacity: 1;
    box-shadow: inset 0 0 0 1px var(--green);
}

#article-list, #blog-list {
    overflow-y: auto;
}

.blog-item h3 {
    font-size: 1.25rem;
}

.back-to-top {
    display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.back-to-home {
    display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    top: 30px;
    left: 30px;
    opacity: 0.5;
    transition: all ease-in 100ms; 
    z-index: 1000;
}

.back-to-home i {
    align-self: center;
    line-height: 50px;
    color: #1d1d1d;
}

.back-to-top i {
    align-self: center;
    font-size: 2em;
    line-height: 50px;
    color: #1d1d1d;
}

.back-to-top.show:hover, .back-to-home:hover {
    cursor: pointer;
    transition: all ease-in 100ms; 
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.884);
}

.back-to-top:active, .back-to-home:active {
    background-color: rgb(255, 255, 255);
}

.back-to-top.show {
    opacity: 0.5;
    visibility: visible;
}

.copy-btn {
    position: sticky;
    top: 55px;
    left: 95%;
    font-size: 1.125rem;
    color: white;
    opacity: 0.6;
    background-color: #263238;
    transition: 250ms ease-in-out
}

.copy-btn:hover {
    opacity: 1
}
  
/*================== ANIMATION ================ */
/* Chrome, Safari, Opera */
.fadein {
    -webkit-animation: fadeIn 750ms ease-in-out ; /* Chrome, Safari, Opera */
    animation: fadeIn 750ms ease-in-out ;
}

@-webkit-keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeinDown {
    -webkit-animation: fadeInDown 750ms ease-in-out ; /* Chrome, Safari, Opera */
    animation: fadeInDown 750ms ease-in-out ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinUp {
    -webkit-animation: fadeInUp 750ms ease-in-out ; /* Chrome, Safari, Opera */
    animation: fadeInUp 750ms ease-in-out ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinLeft {
    -webkit-animation: fadeInLeft 750ms ease-in-out ; /* Chrome, Safari, Opera */
    animation: fadeInLeft 750ms ease-in-out ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinRight {
    -webkit-animation: fadeInRight 750ms ease-in-out ; /* Chrome, Safari, Opera */
    animation: fadeInRight 750ms ease-in-out ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*================== RESPONSIVENESS ================ */
@media (min-width: 380px) {
    .profile-picture {
        position: static;
        box-sizing: border-box;
        border:none;
        /* margin-left: var(--profile-padding); */
        margin-top: calc(var(--profile-padding) - 10px);
        margin-bottom: calc(var(--profile-padding) - 10px);
        margin-right: var(--profile-padding);
        display:block;
        width: var(--pfp-size-sm);
        height: var(--pfp-size-sm);
        transition: width linear 200ms;
        transition: height linear 200ms;
    }
    .font-2xl {
        font-size: 1.5rem;
    }
    .font-xl {
        font-size: 1.0rem;
    }
    .font-lg {
        font-size: 1.0rem;
    }
    .xsm\:d-flex {
        display: flex;
    }
    .xsm\:flex-row {
        flex-direction: row !important;
    }
    .xsm\:flex-col {
        flex-direction: column !important;
        justify-content: center;
    }
    .xsm\:flex-col > h2 {
        margin-top: 0 !important;
    }
    .xsm\:gap {
        row-gap: 1.0rem !important;
    }
    .xsm\:line-height-cus {
        line-height: 1.5;
    }
    .xsm\:font-base {
        font-size: 0.8rem;
    }
    .xsm\:mt-8 {
        margin-top: 8px;
    }
    .xsm\:blog-container {
        display: flex;
        flex-direction: column;
    }
    #nav-guide {
        display: none;
    }
    .blog-item {
        height: fit-content !important;
    }
    .article-item {
        height: fit-content !important;
    }
    #resume h2 {
        font-size: 1.125rem;
    }
    .article-item {
        padding: calc(var(--padding-32));
    }
    .article-item h3 {
        font-size: 1.125rem;
    }
    .article-item h4 {
        font-size: 0.45rem;
    }
    .article-item p {
        font-size: 0.6rem;
    }
    .swiper-header p {
        font-size: .7rem;
    }
}

@media (min-width: 640px) {
    .sm\:p-32 {
        padding: var(--padding-32);
    }
    .font-2xl {
        font-size: 2.5rem;
    }
    
    .font-xl {
        font-size: 2.0rem;
    }

    .font-lg {
        font-size: 1.25rem;
    }

    .sm\:font-base {
        font-size: 16px;
    }

    .sm\:mt-32 {
        margin-top: 32px;
    }
    #resume h2 {
        font-size: 2rem;
    }
    .article-item {
        padding: calc(var(--padding-32) + 10px);
    }
    .article-item h3 {
        font-size: 1.5rem;
    }
    .article-item h4 {
        font-size: 0.65rem;
    }
    .article-item p {
        font-size: 13px;
    }
    .blog-item h3 {
        font-size: 1.3rem !important;
    }
    .swiper-header p {
        font-size: 1rem;
    }
}


@media (min-width: 992px) {
    .md\:fixed {
        position: fixed;
    }
    .md\:absolute {
        position: absolute;
    }
    .md\:pr-88 {
        padding-right: var(--padding-88);
    }
    .md\:pl-0 {
        padding-left: 0;
    }
    .md\:right-0 {
        right: 0;
    }
    .md\:pr-72 {
        padding-right: 72px;
    }
    .md\:max-w-496 {
        max-width: 496px;
    }
    .md\:max-w-536 {
        max-width: 536px;
    }
    .md\:h-screen {
        height: 100vh;
    }
    .md\:mt-72 {
        margin-top: 72px;
    }
    .md\:d-flex {
        display: flex;
    }
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:non-flex {
        display: block;
    }
    .profile-picture {
        position: static;
        box-sizing: border-box;
        border:none;
        /* margin-left: var(--profile-padding); */
        margin-top: calc(var(--profile-padding));
        margin-bottom: var(--profile-padding);
        display:block;
        width: var(--pfp-size-md);
        height: var(--pfp-size-md);
        transition: width linear 200ms;
        transition: height linear 200ms;
    }
    .md\:line-height-cus {
        line-height: 2;
    }
    .blog-item {
        padding: var(--padding-32) !important;
        width: 100% !important;
    }
    .swiper {
        margin-top: 1.5rem;
        height: 80vh;
    }
    #nav-guide {
        display: block;
    }
}

@media (min-width: 1280px) {
    .l\:pr-0 {
        padding-right: 0px;
    }
    .l\:pr-88 {
        padding-right: var(--padding-88);
    }
    .l\:pl-88 {
        padding-left: 88px;
    }
    .l\:py-88 {
        padding-top: var(--padding-88);
        padding-bottom: var(--padding-88);
    }
    .l\:max-w-736 {
        max-width: 736px;
    }
    .profile-picture {
        position: static;
        box-sizing: border-box;
        border:none;
        /* margin-left: var(--profile-padding); */
        margin-top: calc(var(--profile-padding) * -1);
        margin-bottom: var(--profile-padding) ;
        display:block;
        width: var(--pfp-size-lg);
        height: var(--pfp-size-lg);
        transition: width linear 200ms;
        transition: height linear 200ms;
    }
    .font-2xl {
        font-size: 3.5rem;
        transition: font-size linear 200ms;
    }
    
    .font-xl {
        font-size: 2rem;
    }
    
    .font-lg {
        font-size: 1.5rem;
        transition: font-size linear 200ms;
    }

    .l\:blog-container {
        /* display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 1rem; */
        display: block;
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        -moz-column-fill: balance;
        column-fill: balance;
    }

    .l\:blog-container .blog-item {
        margin: 0 0 1rem;
        page-break-inside: avoid;
        -moz-column-break-inside: avoid;
             break-inside: avoid;
        width: 100%;
        height: fit-content !important;
    }
    .swiper {
        margin-top: 0;
        height: 75vh;
    }
}


/*======================== SWIPER JS ===============================*/
.swiper {
    width: auto;
}
.swiper-slide {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 16px;
    color: #fff;
    /* background-color: #2a2a2a; */
    background-color: rgb(29 29 29);
}

.swiper-header {
    transition: all 0.2s ease-in
}

@media (min-width: 375px) {
    .swiper-header {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .swiper-header #left-nav {
        flex-basis: 30px;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .swiper-header #main-header {
        flex-basis: 120px;
        flex-shrink: 2;
    }

    .swiper-header #right-nav {
        flex-basis: 30px;
        flex-shrink: 0;
        flex-grow: 1;
    }
}

@media (min-width: 640px) {
    .swiper-header #left-nav {
        flex-basis: 30px;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .swiper-header #main-header {
        flex-basis: 200px;
        flex-shrink: 2;
    }

    .swiper-header #right-nav {
        flex-basis: 30px;
        flex-shrink: 0;
        flex-grow: 1;
    }
}

.show-scroll::-webkit-scrollbar {
    width: 10px;
}

/* .show-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(29, 29, 29) var(--green);
} */

.show-scroll::-webkit-scrollbar-thumb {
    background: var(--green);
    border-left: 8px solid rgb(29, 29, 29);
}

.hidden-scroll::-webkit-scrollbar {
    width: 10px;
}

/* .hidden-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(29, 29, 29) rgb(29, 29, 29);
} */

.hidden-scroll::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29);
    border-left: 8px solid rgb(29, 29, 29);
}

div.swiper-button-prev,
div.swiper-button-next {
    overflow: visible;
    color: var(--green);
    transform: scale(0.5);
    transition: color 0.2s ease-in-out
}

div.swiper-button-prev:hover,
div.swiper-button-next:hover {
    color: #07a093;
}

span.swiper-pagination-bullet {
    background-color: var(--green);
}

.swiper {
    padding-bottom: 80px !important;
}

.swiper-wrapper .swiper-pagination {
    position: absolute !important;
    bottom: 0 !important;
}

.swiper-cards {
    overflow: hidden !important;
}

/* ============= SPLASH ART ============= */
.splash {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    animation: lift 0.8s ease-in-out;
    animation-delay: 1.6;
    animation-fill-mode: forwards;
}

.title-splash {
    font-size: 81px;
    color: #1d1d1d;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    animation: wave 0.4s, jump 1s;
    position: relative;
    top: 0;
    padding: 4px;
    /* transform: translate3d(0, 16%, 0); */
    opacity: 0;
    z-index: 3;
    animation-fill-mode: forwards;
}

.title-splash:nth-of-type(1) {

    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.05s;
}

.title-splash:nth-of-type(2) {

    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.1s;
}

.title-splash:nth-of-type(3) {

    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.15s;
}

.title-splash:nth-of-type(4) {

    animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.2s;
}

@keyframes wave {
    0% {
        top: 0%;
    }
    100% {
        top: 100%;
    }
}

@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    90% {
        transform: translate3d(0, -16%, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -32%, 0);
        opacity: 1;
    }
}

@keyframes lift {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translate3d(0, -100%, 0);
        opacity: 1;
        visibility: hidden;
    }
}

@keyframes appear {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
/*======================== FONT ===============================*/
@font-face {
    font-family: "Google Black";
    src: url("../fonts/ProductSans-Black.woff") format("opentype");
}

@font-face {
    font-family: "Google Bold";
    src: url("../fonts/ProductSans-Bold.woff") format("opentype");
}

@font-face {
    font-family: "Google Medium";
    src: url("../fonts/ProductSans-Medium.woff") format("opentype");
}

@font-face {
    font-family: "Google Regular";
    src: url("../fonts/ProductSans-Regular.woff") format("opentype");
}

@font-face {
    font-family: "Google Light";
    src: url("../fonts/ProductSans-Light.woff") format("opentype");
}

@font-face {
    font-family: "Google Thin";
    src: url("../fonts/ProductSans-Thin.woff") format("opentype");
}