/*================== PARENT PROPERTIES ================ */

* {
    --padding-88: 88px;
    --padding-32: 32px;
    --profile-padding: 30px;
    --pfp-size-sm: 100px;
    --pfp-size-md: 150px;
    --pfp-size-lg: 225px;
    --green: rgb(8, 253, 216);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

body {
    margin: 0;
    line-height: inherit;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}

p {
    margin-bottom: 0 !important;
}

.bg-obsidian {
    --bg-opacity: 1;
    background-color: rgb(29 29 29);
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.font-base {
    font-size: 16px;
}

.text-obsidian {
    color: rgb(220 220 220);
}

.text-cyan {
    --cyan-text-opacity: 1;
    color: var(--green) !important;
}
/* 
.underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline !important;
} */
.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link-underline::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link-underline:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.p-24 {
    padding: 24px;
}

/*================== PICTURE ================ */

.rounded-full {
    --border-opacity: 1;
    border-radius: 9999px;
}

/*================== SPACING ================ */

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.tight-height {
    line-height: 1;
}

.loose-height {
    line-height: 2;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: var(--padding-32);
}

.mr-8 {
    margin-right: 8px;
}

.mr-32 {
    margin-right: var(--padding-32);
}

.mx-m-8 {
    margin-left: -8px;
    margin-right: -8px;
}


.fill-current {
    fill: currentColor;
}

/*================== FONT SIZE ================ */

.font-gilroy {
    font-family: 'Gilroy Regular';
    color: rgb(255 255 255);
}

.font-bold {
    font-family: 'Gilroy Bold' !important
}

.font-semibold {
    font-family: 'Gilroy SemiBold' !important
}

.font-xbold {
    font-family: 'Gilroy ExtraBold' !important
}

.font-med {
    font-family: 'Gilroy Medium' !important
}

.font-light {
    font-family: 'Gilroy Light' !important
}

.font-thin {
    font-family: 'Gilroy Thin' !important
}

.text-space {
    letter-spacing: 0.5px;
}

/*================== MAIN STRUCTURE ================ */
/* ------------------ LEFT PANEL ------------------- */
.static {
    position: static;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.max-w-1440 {
    max-width: 1440px;
}

.flex-col {
    flex-direction: column !important;
}

.project-item {
    padding: calc(var(--padding-32) + 10px);
    width: 100%;
    height: 200px;
    background-color: rgb(32, 32, 32);
}
.project-item h4 {
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.project-item h3 {
    font-size: 1.5rem;
}
.project-item p {
    font-family: "Gilroy Light";
    color: #c4c4c4;
    font-size: 13px;
}
/*
#about-me {
}

#information {
    
}

#contact {
    
} */

/* ------------------ RIGHT PANEL ------------------- */
/*
#portfolio {
    
}

#resume {

}
*/
#projects {
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
}
/*
3blogs {

} */

/*================== ANIMATION ================ */
.fadeinDown {
    -webkit-animation: fadeInDown 750ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInDown 750ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinUp {
    -webkit-animation: fadeInUp 750ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInUp 750ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinLeft {
    -webkit-animation: fadeInLeft 750ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInLeft 750ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinRight {
    -webkit-animation: fadeInRight 750ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInRight 750ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*================== RESPONSIVENESS ================ */
@media (min-width: 380px) {
    .profile-picture {
        position: static;
        box-sizing: border-box;
        border:none;
        /* margin-left: var(--profile-padding); */
        margin-top: calc(var(--profile-padding) - 10px);
        margin-bottom: calc(var(--profile-padding) - 10px);
        margin-right: var(--profile-padding);
        display:block;
        width: var(--pfp-size-sm);
        height: var(--pfp-size-sm);
        transition: width linear 200ms;
        transition: height linear 200ms;
    }
    .font-2xl {
        font-size: 1.5rem;
    }
    .font-xl {
        font-size: 1.0rem;
    }
    .font-lg {
        font-size: 1.0rem;
    }
    .xsm\:d-flex {
        display: flex;
    }
    .xsm\:flex-row {
        flex-direction: row !important;
    }
    .xsm\:flex-col {
        flex-direction: column !important;
        justify-content: center;
    }
    .xsm\:flex-col > h2 {
        margin-top: 0 !important;
    }
    .xsm\:gap {
        row-gap: 1.0rem !important;
    }
    .xsm\:line-height-cus {
        line-height: 1.5;
    }
    .xsm\:font-base {
        font-size: 0.8rem;
    }
    .xsm\:mt-8 {
        margin-top: 8px;
    }
}
@media (min-width: 640px) {
    .sm\:p-32 {
        padding: var(--padding-32);
    }
    .font-2xl {
        font-size: 2.5rem;
    }
    
    .font-xl {
        font-size: 2.0rem;
    }
    
    .font-lg {
        font-size: 1.25rem;
    }
    .sm\:font-base {
        font-size: 16px;
    }
    .sm\:mt-32 {
        margin-top: 32px;
    }
}

@media (min-width: 992px) {
    .md\:fixed {
        position: fixed;
    }
    .md\:absolute {
        position: absolute;
    }
    .md\:pr-88 {
        padding-right: var(--padding-88);
    }
    .md\:pl-0 {
        padding-left: 0;
    }
    .md\:right-0 {
        right: 0;
    }
    .md\:pr-72 {
        padding-right: 72px;
    }
    .md\:max-w-496 {
        max-width: 496px;
    }
    .md\:max-w-536 {
        max-width: 536px;
    }
    .md\:h-screen {
        height: 100vh;
    }
    .md\:mt-72 {
        margin-top: 72px;
    }
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:non-flex {
        display: block;
    }
    .profile-picture {
        position: static;
        box-sizing: border-box;
        border:none;
        /* margin-left: var(--profile-padding); */
        margin-top: calc(var(--profile-padding));
        margin-bottom: var(--profile-padding);
        display:block;
        width: var(--pfp-size-md);
        height: var(--pfp-size-md);
        transition: width linear 200ms;
        transition: height linear 200ms;
    }
    .md\:line-height-cus {
        line-height: 2;
    }
}

@media (min-width: 1280px) {
    .l\:pr-0 {
        padding-right: 0px;
    }
    .l\:pr-88 {
        padding-right: var(--padding-88);
    }
    .l\:pl-88 {
        padding-left: 88px;
    }
    .l\:py-88 {
        padding-top: var(--padding-88);
        padding-bottom: var(--padding-88);
    }
    .l\:max-w-736 {
        max-width: 736px;
    }
    .profile-picture {
        position: static;
        box-sizing: border-box;
        border:none;
        /* margin-left: var(--profile-padding); */
        margin-top: calc(var(--profile-padding) * -1);
        margin-bottom: var(--profile-padding) ;
        display:block;
        width: var(--pfp-size-lg);
        height: var(--pfp-size-lg);
        transition: width linear 200ms;
        transition: height linear 200ms;
    }
    .font-2xl {
        font-size: 3.5rem;
        transition: font-size linear 200ms;
    }
    
    .font-xl {
        font-size: 2rem;
    }
    
    .font-lg {
        font-size: 1.5rem;
        transition: font-size linear 200ms;
    }
}

@media (max-height: 660px) {

}

/*======================== SWIPER JS ===============================*/
.swiper {
    width: auto;
    height: 82vh;
}

.swiper-slide {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* background-color: #2a2a2a; */
    background-color: rgb(29 29 29);
}

div.swiper-button-prev,
div.swiper-button-next {
    color: cyan;
}

span.swiper-pagination-bullet {
    background-color: var(--green);
}

.swiper {
    padding-bottom: 50px !important;
}

.swiper-wrapper .swiper-pagination {
    position: absolute !important;
    bottom: 0 !important;
}

.swiper-cards {
    overflow: hidden !important;
}

/*======================== FONT ===============================*/

@font-face {
    font-family: "Gilroy Black";
    src: url("../fonts/SVN-Gilroy\ Black.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Heavy";
    src: url("../fonts/SVN-Gilroy\ Heavy.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy XBold";
    src: url("../fonts/SVN-Gilroy\ XBold.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/SVN-Gilroy\ Bold.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy SemiBold";
    src: url("../fonts/SVN-Gilroy\ SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("../fonts/SVN-Gilroy\ Medium.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("../fonts/SVN-Gilroy\ Regular.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/SVN-Gilroy\ Light.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy XLight";
    src: url("../fonts/SVN-Gilroy\ Xlight.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Thin";
    src: url("../fonts/SVN-Gilroy\ Thin.otf") format("opentype");
}